.viking-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;

  >.menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &.is-active,
    &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  .submenu-item {
    position: relative;

    .submenu-title {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }

    .arrow-icon {
      display: inline-flex;
      transition: transform 0.25s ease-in-out;
      margin-left: 6px;
      font-size: 12px;
      transform-origin: center;
    }

    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }

  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }

  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }

  .viking-submenu {
    display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;

    &.menu-opened {
      display: block;
    }

    .menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;

      &.is-active,
      &:hover {
        color: $menu-item-active-color !important;
      }
    }
  }
}

.menu-horizontal {
  >.menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }

  .viking-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}

.menu-vertical {
  flex-direction: column;
  border-bottom: 0;
  margin: 10px 20px;
  border-right: $menu-border-width solid $menu-border-color;

  >.menu-item {
    border-left: $menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0;
      border-left: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }

  .submenu-item .viking-submenu.menu-opened {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 8px;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
    background: $white;
  }
}

.zoom-in-top-enter {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
}

.zoom-in-top-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top center;
  transition: opacity 200ms ease, transform 200ms ease;
}

.zoom-in-top-exit {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top center;
}

.zoom-in-top-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: opacity 200ms ease, transform 200ms ease;
}